:root {
    --bg-color: #f0f0f0;
    --text-color: #333;
    --link-color: #007bff;
    --shadow-color: #000000;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    color: var(--text-color);
    background: var(--bg-color);
}
.cv-container {
    max-width: 800px;
    margin: 0 auto; 
    background: var(--bg-color);
    padding: 30px;
    box-shadow: 0 0 10px var(--shadow-color);
}
.header {
    text-align: center;
    margin-bottom: 30px;
}
.section {
    margin-bottom: 25px;
}
.section-title {
    border-bottom: 2px solid var(--text-color);
    padding-bottom: 5px;
    margin-bottom: 15px;
    color: var(--text-color);
}
.tech-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.tech-item {
    background: var(--bg-color);
    padding: 5px 10px;
    border-radius: 5px;
}
.experience-item {
    margin-bottom: 20px;
}
.project-card {
    background: var(--bg-color);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 0px;
}
.project-title {
    color: var(--text-color);
    margin-bottom: 10px;
}
.profile-section {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}
.profile-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.language-item {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}
.language-level {
    color: var(--text-color);
}
.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.contact-item img {
    width: 20px;
    height: 20px;
}
.self-taught {
    font-style: italic;
    color: var(--text-color);
    margin-top: 5px;
}


.contact-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-item img {
    width: 20px;
    height: 20px;
}


@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #2a2a2a;
        --text-color: #f0f0f0;
        --link-color: #74f7e8;
        --shadow-color: #000000;
    }

    img.monochrome {
        filter: brightness(0) invert(1);
    }
    
    a {
        color: var(--link-color);
    }
}

/* Print-specific styles */
@media print {
    .section > *, .contact-section {
        page-break-inside: avoid;       
    }
    .cv-container, body {
        box-shadow: none;
        padding: 0;
    }
}

/* Адаптивність для маленьких екранів */
@media (max-width: 600px) {
    .contact-grid {
        grid-template-columns: 1fr;
    }
}
